.ltx_figure,
.ltx_table {
  margin: 1rem 0;

  @media (min-width: 1024px) {
    margin: 2rem 0;
  }

  img,
  table {
    width: 100%;
  }
}

.ltx_caption {
  color: rgba(0, 0, 0, 0.6);
  font-family: $systemFontFamily;
  font-size: 13px;
  line-height: 1.5em;

  a {
    color: rgba(0, 0, 0, 0.6);
  }
}
